.form-head{
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
}

.page-text{
    font-family: 'Open Sans', sans-serif;
}

.page-button{
    border: 1px solid #F5F5F5;
    background: #1E69B8;
}

.button-color{
    background:  #F5F5F5;
}